*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
html,body{
    height: 100%;
    width: 100%;
}
#parent{
    min-height: 100%;
    width: 100%;
    background-color: red;

}
#child1{
   width: 60%;
   height: 100vh;
   background-color: lightblue;
}
#child2{
    width: 60%;
    height: 100vh;
    background-color: chartreuse;
 }
h1{

}