*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 120px;
    /* justify-content: flex-end; */
    align-items: flex-end;
    display: flex;
    gap: 80px;
}
#left{
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding-bottom: 50px;
}

#left h1{
    font-weight: 600px;
    font-size: 140px;
    line-height: 145px;
}
#bottom-left{
    /* height: 40%; */
    width: 100%;
    /* background-color: orange; */
}
#color{
    width: fit-content;
    /* background-color: blue; */
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #000;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
}

#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}
#left p{
    font-size: 20px;
    width: 70%;
    font-weight: 600;
    color: #444;
    line-height: 30px;

}
#right{
    /* background-color: blue; */
    height: 90%;
    width: 38%;
    margin-left: 50px;
    position: relative;
    padding: 20px;
}
#right-top{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#right-top h4{
    font-size: 20px;
    font-family:sans-serif;
}
#right-top h5 i{
    color: goldenrod;
}
#right  img{
    width: 100%;
    height: 88%;
    object-fit: cover;
}
#black-gola{
    background-color: #000;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 25%;
    right:-10%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#black-gola h5{
    font-size: 20px;
    font-weight: 500;
}
#rotated{
    font-size: 20px;
    font-weight: 500;
    /* background-color: red; */
    rotate: -90deg;
    left: 0;
    bottom: 0;
    position:absolute;
    transform-origin: 0 0;
}