*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: gray; */
}
nav{
display: flex;
height: 100px;
width: 100%;
justify-content: flex-end;
align-items: center;
gap: 20px;
padding: 0 30px;
}
nav h4{
    font-size: 20px;
}
nav i{
background-color: black;
color: white;
font-size: 20px;
padding: 10px;
border-radius: 50%;
}
#center{
    width: 100%;
    padding: 40px 50px;
}
#center h1{
    font-size: 80px;
    line-height: 85px;
    font-weight: 500;
}
#center-in{
    height: 200px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#center-in p{
   font-size: 20px;
   line-height: 32px;

   font-weight: 600;
}
#right{
    width: 20%;
}
.elem{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000;
}
.elem a{
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem :hover i{
    opacity: 1;
}
#bottom{
    height: 40%;
    width: 100%;
    background-color: red;
    background: url("https://images.unsplash.com/photo-1445053023192-8d45cb66099d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: 0 25%;
}